<!-- <app-add-candidate></app-add-candidate> -->
<app-read-candidate>

</app-read-candidate>

   <!-- <router-outlet> -->
<!-- <div>
    <div class="small-table">
     <h1>HRMS System</h1>
    </div>

    
<div>
   <mat-card id="a">
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>Start</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
</div>
    

<mat-card id="b">
   <mat-card-header class="half-width">Human Resource Managment System Admin DashBoard</mat-card-header>
      </mat-card>
      


      <mat-card class="btn-holder-card">
         <mat-card-content>
            <section>
              <div class="example-label">Flat</div> 
               <div class="example-button-row">
                 <button mat-flat-button color="primary">Add Candidate</button>
                 <button mat-flat-button color="primary">Add Company</button>
                 <button mat-flat-button color="primary">Add Employee</button>
                 <button mat-flat-button color="primary">Add Department</button>
                 <button mat-flat-button color="primary">Add Salary</button>
                 <button mat-flat-button color="primary">Add Other</button>
                 <button mat-flat-button color="primary">Add Another</button>
                 <button mat-flat-button color="primary">Add Another One</button>
               </div>
             </section>
         
      
          
         </mat-card-content>
       </mat-card>
  
     <div class="big-table">
         <nav>
            <a routerLink="/" id="home">Home</a>
            <a routerLink="/candidate" id="candidate">Candidate List</a>
            <a routerLink="/company" id="company">Add Candidate</a>
            <a routerLink="/Employee" id="employee">Employees List</a>
            <a routerLink="/department" id="department">Company List</a>
            <a routerLink="/salary" id="salary">Add Company</a>
            <a routerLink="/department" id="department">Department List</a>
            <a routerLink="/salary" id="salary">Add Department</a>
            <a routerLink="/department" id="department">Salary List</a>
            <a routerLink="/salary" id="salary">Add Salary</a>
            <a routerLink="/more" id="more">More</a>
            <a routerLink="/logout" id="logout">Logout</a>
         </nav>
        </div>
      </div> -->
   
   <!-- </router-outlet> -->
